.table-container-custom {
    width: 80%;
    margin: 0 auto;
}

.table-header-custom h1 {
    font-size: 20px;
    color: #7c7070;
    /* Adjust the color as needed */
}

.container-custom th.table-header-custom {
    font-weight: bold;
    font-size: 16px;
    /* Increased font size */
    text-align: left;
    color: white;
    /* Updated to white */
}

.container-custom td {
    font-weight: normal;
    font-size: 1em;
}

.container-custom {
    text-align: left;
    overflow: hidden;
    width: 100%;
}

.container-custom td,
.container-custom th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

.container-custom tr:nth-child(odd) {
    background-color: #DBD1D0;
}

.container-custom tr:nth-child(even) {
    background-color: #DBD1D0;
}

.container-custom th {
    background-color: #1f2739;
}

.container-custom td:first-child {
    color: #fb667a;
}

.container-custom button {
    padding: 8px 16px;
    background-color: #ba8447;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.container-custom button:hover {
    background-color: #45a049;
    /* Darker Green */
}