.body-custom {
    background: rgb(99, 39, 120);
}

.form-control-custom:focus {
    box-shadow: none;
    border-color: #BA68C8;
}

.profile-button-custom {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.profile-button-custom:hover {
    background: #682773;
}

.profile-button-custom:focus {
    background: #682773;
    box-shadow: none;
}

.profile-button-custom:active {
    background: #682773;
    box-shadow: none;
}

.back-custom:hover {
    color: #682773;
    cursor: pointer;
}

.labels-custom {
    font-size: 11px;
}

.add-experience-custom:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
}